.seta_down{
	display: block;

	width: 24px;
	height: 35px;

	margin: 80px auto 0;
	clear: both;

	&.white{
		.sprite(-130px -124px);
	}
	&.grey{
		.sprite(-130px -87px);

	}
	&.transp{
		.sprite(-130px -50px);
	}
}