.seta_down{
	display: block;

	width: 24px;
	height: 35px;

	margin: 80px auto 0;
	clear: both;

	&.posa{
		position: absolute;
		bottom: 20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	&.white{
		.sprite(-130px -124px);
	}
	&.grey{
		.sprite(-130px -87px);

	}
	&.transp{
		.sprite(-130px -50px);
	}
}