body.culturas{

	// galeria

	.sessao-galeria{
		position: relative;
		margin: 20px auto;

		.sessao-galeria-text{
			color: @grey_sl;

			position: absolute;
			top: 0;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);

			width: 100%;
			max-width: 977px;

			strong{
				text-transform: uppercase;
			}

			a{
				.seta_2;
				display: inline-block;
				font-weight: 400;
				padding: 10px;
				line-height: 96%;
				&:after{
					margin-top: -20px;
					margin-left: 15px;
				}
			}
		}
	}

	&.soja{
		.cult_color{
			color: #9fba67;
		}
		.cult_bg{
			background: #9fba67 !important;
		}

		.cult_color_dif_1{
			color: #006633;
		}
		.cult_color_dif_2{
			color: #5a7423;
		}

		.sessao-galeria .sessao-galeria-text a{
			background: #9fba67;
			color: @light;
		}
	}

	&.algodao{
		.cult_color{
			color: #3d8da4;
		}
		.cult_bg{
			background: #3d8da4 !important;
		}

		.cult_color_dif_1{
			color: @light;
		}
		.cult_color_dif_2{
			color: #acdbe9;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #3d8da4;
			color: @light;
		}
	}


	&.arroz{
		.cult_color{
			color: #eae0bd;
		}
		.cult_bg{
			background: #eae0bd !important;
		}

		.cult_color_dif_1{
			color: #a79864;
		}
		.cult_color_dif_2{
			color: #cebf8b;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #eae0bd;
			color: @light;
		}

	}


	&.cana{
		.cult_color{
			color: #dfcb6a;
		}
		.cult_bg{
			background: #dfcb6a !important;
		}
		.cult_color_dif_1{
			color: #9f8a22;
		}
		.cult_color_dif_2{
			color: #907c18;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #dfcb6a;
			color: @light;
		}
		
	}	


	&.cafe{
		.cult_color{
			color: #c14255;
		}
		.cult_bg{
			background: #dfcb6a !important;
		}
		.cult_color_dif_1{
			color: @light;
		}
		.cult_color_dif_2{
			color: #710415;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #c14255;
			color: @light;
		}
		
	}	

	&.citros{
		.cult_color{
			color: #f68c38;
		}
		.cult_bg{
			background: #f68c38 !important;
		}
		.cult_color_dif_1{
			color: #8e460d;
		}
		.cult_color_dif_2{
			color: #f9d2b3;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #f68c38;
			color: @light;
		}
	}

	&.feijao{
		.cult_color{
			color: #dd9f60;
		}
		.cult_bg{
			background: #dd9f60 !important;
		}
		.cult_color_dif_1{
			color: #915213;
		}
		.cult_color_dif_2{
			color: #fcddbd;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #dd9f60;
			color: @light;
		}
		
	}	

	&.milho{
		.cult_color{
			color: #ffc718;
		}
		.cult_bg{
			background: #ffc718 !important;
		}
		.cult_color_dif_1{
			color: @light;
		}
		.cult_color_dif_2{
			color: #7c5e01;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #ffc718;
			color: @light;
		}
		
	}

	&.batata{
		.cult_color{
			color: #fde379;
		}
		.cult_bg{
			background: #fde379 !important;
		}
		.cult_color_dif_1{
			color: #695814;
		}
		.cult_color_dif_2{
			color: #bfa53b;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #fde379;
			color: @light;
		}
		
	}

	&.tomate{
		.cult_color{
			color: #cf4834;
		}
		.cult_bg{
			background: #cf4834 !important;
		}
		.cult_color_dif_1{
			color: #801708;
		}
		.cult_color_dif_2{
			color: #fdbdb4;
		}
		.sessao-galeria .sessao-galeria-text a{
			background: #cf4834;
			color: @light;
		}
		
	}

	.area_cultura{
		padding: 0;
		position: relative;
	}

	.cult_text_intro{
		max-width: 400px;
		width: 90%;

		position: relative;
		display: block;

		h1{
			font-family: 'DINCond-Medium';
			font-size: 6em;
			font-weight: 400;
		}

	}

	.cult_sec_title{
		font-size: 3.6em;
		// color: @grey;
		font-weight: 300;
		strong{
			display: block;
			font-size: 1.7em;
			text-transform: uppercase;
			word-wrap: break-word;
		}
		.bb{
			border-bottom: 1px solid @grey_sl;
			display: inline-block;
		}
		.min{
			font-size: 0.8em;
			padding-bottom: 5px;
		}
		.med{
			font-size: 1.3em;
		}
		.big{
			font-size: 1.6em;
		}
	}
}

@media screen and(min-width:100px){
	body.culturas{

		.area{

			display: block;
			position: relative;
			
			&.image.area_cultura{
				background-size: auto 50%;
				background-position: 10% 0%;
				background-repeat: no-repeat;
			}
		}

		.cult_text_intro{
			height: auto;
			position: absolute;
			top: 50%;
			left: 5%;

		}

	}
}


@media screen and(min-width:850px){
	body.culturas{

		.area{
			
			&.image.area_cultura{
				background-size: cover;
				background-position: 50% 50%;
			}
		}

		.cult_text_intro{
			left: 50%;
			// top: 45%;
		}

	}
}