#landing-01{
	padding-bottom: 0;
	height: auto;
}

#landing-01 img{
	display: block;
	margin: 0 auto;

	width: auto;
	height: auto;

	max-width: 90%;
}

#landing-01 img.full{
	max-width: 100%;
}

#landing-01 .links{
	width: 90%;
	max-width: 360px;
	margin: 20px auto 70px;

}

#landing-01 .links a{
	display: block;
	position: relative;
	padding: 10px 80px 10px 20px;
	background: #999999;
	color: #fff;
	font-size: 3em;
	font-weight: 400;
	line-height: 100%;
	margin-bottom: 20px;
}

@media screen and (max-width: 850px){
	#landing-01 .links a:after{
		zoom: 0.5;
	}
}

/*@media screen and (min-width: 850px){
	#landing-01 .links a:after{
		zoom: 1;
	}
}*/

#landing-01 .links a:after{
	display: block;
	content: '';

	height: 53px;
	width: 53px;

	background: url('../images/landing-01/seta.png') 0 0 no-repeat;

	position: absolute;

	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

