.form-message {
    
}

.form-message {
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.form-message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.newsletter .form-message {
    float: left;
}